version: "3.8"
services:
  search_container:
    container_name: search_container
    build: ./
    command: >
      sh -c "./wait-for-db.sh -- \
            ./wait-for-es.sh elasticsearch 9200 -- \
            ./search_service migrate"
    environment:
      - DSN=${DSN}
      - ELASTIC_URL=http://elasticsearch:9200
      - ELASTIC_INDEX=products
      - KAFKA_SEARCH_BROKERS=kafka:9092
      - SEARCH_SERVICE_LOG_LEVEL=${SEARCH_SERVICE_LOG_LEVEL}
      - SEARCH_SERVICE_FILE_LOG_LEVEL={SEARCH_SERVICE_FILE_LOG_LEVEL}
    env_file:
      - .env
    depends_on:
      - elasticsearch
    networks:
      - shopongo_default
    ports:
      - "8085:8085"
  elasticsearch:
    image: docker.io/elasticsearch:7.17.13
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - shopongo_default

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 6

  logstash:
    image: elastic/logstash:7.17.13
    container_name: logstash
    depends_on:
      - elasticsearch
    volumes:
      - ./internal/logstash:/usr/share/logstash/logstash_internal
      - ./internal/logstash/postgres_to_es.conf:/usr/share/logstash/pipeline/logstash.conf
    env_file:
      - .env
    environment:
      LS_JAVA_OPTS: "-Xms256m -Xmx256m"
    networks:
      - shopongo_default

volumes:
  esdata:

networks:
  shopongo_default:
    external: true
